<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
        <h1>
          <a href="/">Tech Blog</a>
        </h1>
        <nav>
          {{#if loggedIn}}
          <a href="/dashboard" class="nav">DASHBOARD</a>
          <button id="logout" class="btn-no-style nav">LOGOUT</button>
          {{else}}
          <a href="/" class="nav">HOME</a>
          <a href="/login" class="nav">LOGIN</a>
          <a href="/signup" class="nav">SIGN UP</a>
        
          {{/if}}
        </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
{{#if loggedIn}}  
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>