<a href="/add" class="link-btn">Add post</a>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="link-btn">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

